@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap');

.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 175px 200px;
}

#game-desc {
  width: 400px;
  margin: 50px 0px 25px 0px;
}

#game-desc, .enter-name {
  font-family: 'Advent Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.alert {
  font-family: 'Advent Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #B31212;
  padding: 9px 65px;
  background: rgba(179, 18, 18, 0.05);
  border: 1px solid #B31212;
  box-sizing: border-box;
  border-radius: 4px;
}